{% extends 'Common/base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

   <link rel="stylesheet" type="text/css" href="{{ asset('CSS/admin/articles/list_articles.css') }}">

{% endblock %}

{% block content %}

    <div class="home_admin">

        <div class="header-common">
            <h1>Gestion des articles</h1>
            <a class="btn btn-primary" href="{{ path('admin_article_new') }}">Créer un articles</a>
        </div>

        <div class="tables">


            <table class="table text-center col-8">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Catégories</th>
                        <th>Supprimé ?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>



                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.libelle }}</td>
                            <td>{{ article.price }} €</td>
                            <td>
                                {% if article.category %}
                                    {% for category in article.category %}
                                        <a href="#">{{ category.libelle }}</a>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if article.whenDeleted is null %}
                                    <i class="fas fa-times"></i>
                                {% else %}
                                    {{ article.whenDeleted|date('d/m/Y') }}
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse{{article.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Voir les quantités
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{# Modifier pour afficher en les variation d'article avec le taille et la quantité #}
{#  
                <table class="table text-center col-4">
                    <thead>
                        <tr>
                            <th>Taille</th>
                            <th>Quantité</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                        {% for article in articles %}
                            <div class="collapse" id="collapse{{ article.id }}">
                                <div class="card card-body">
                                    <tbody>
                                        {% for variation_a in v_articles %}
                                            {% if variation_a.article.id == article.id %}
                                                <tr>
                                                    <td>{{ variation_a.size }}</td>
                                                    <td>{{ variation_a.quantity }}</td>
                                                    <td></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </div>
                            </div>
                        {% endfor %}
                </table>
#}    

        </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}