{% extends 'layout_admin/base_admin.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

   <link rel="stylesheet" type="text/css" href="{{ asset('CSS/admin/articles/list_articles.css') }}">

{% endblock %}

{% block content %}

    <div class="home_admin">

        <div class="header-common">
            <h1>Gestion des articles</h1>
            <a class="btn btn-primary" href="{{ path('admin_article_new') }}">Créer un articles</a>
        </div>

        <table class="table text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Taille</th>
                    <th>Prix</th>
                    <th>Catégories</th>
                    <th>Supprimé ?</th>
                    <th>Quantité</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
               {% for variation_a in v_articles %}
                    <tr>
                        <td>{{variation_a.id}}</td>
                        <td>{{variation_a.article.libelle}}</td>
                        <td>{{variation_a.size}}</td>
                        <td>{{variation_a.article.prix}}</td>
                        <td>
                            {% if variation_a.article.categorie %}
                                {% for category in variation_a.article.categorie %}
                                    <a href="#">{{category.libelle}}</a> -
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if variation_a.article.whenDeleted is null %}
                                <i class="fas fa-times"></i>
                            {% else %}
                                {{ variation_a.article.whenDeleted|date('d/m/Y') }}
                            {% endif %}
                        </td>
                        <td>{{variation_a.quantity}}<a href="{{ path('admin_stock_variation_article', {id: variation_a.id}) }}"><i class="fas fa-plus"></i></a></td>
                        <td>
                            {# A voir si ce n'est pas variation article au lieu de article pour l'update et delete #}
                            <a class="btn btn-info" href="{{ path('admin_update_article', {id: variation_a.article.id}) }}"><i class="fas fa-pen-fancy"></i></a>
                            <a class="delete btn btn-danger " href="{{ path('admin_delete_article', {id: variation_a.article.id}) }}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>


{% endblock %}