{% extends 'layout_admin/base_admin.html.twig' %}

{% block content %}

    <div class="new_update_admin">

        <div class="header-new-update">
            <h1>Créer un articles</h1>
            {# Le stock doit se passer sur les variations d'article, comment faire ? #}
            {% if type is defined and type== "update" %}
                <a href="#" class="btn btn-primary">Gérer le stock</a>
            {% endif %}
        </div>

        {{ form_start(form) }}

            <div class="content">
                {{ form_label(form.libelle) }}
                {{ form_widget(form.libelle, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            <div class="content">
                {{ form_label(form.prix) }}
                {{ form_widget(form.prix, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            <div class="content">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            <div class="content">
                {{ form_label(form.img) }}
                {{ form_widget(form.img, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            <div class="content">
                {{ form_label(form.img_alt) }}
                {{ form_widget(form.img_alt, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            <div class="content">
                {{ form_label(form.promo) }}
                {{ form_widget(form.promo, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            <div class="content">
                {{ form_label(form.categorie) }}
                {{ form_widget(form.categorie, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            {% if form.when_deleted is defined %}
                <div class="content">
                    {{ form_label(form.when_deleted) }}
                    {{ form_widget(form.when_deleted, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            {% endif %}

            <button class= "btn btn-success mt-5 mb-5" type= "submit">Valider</button>

        {{ form_end(form) }}


    </div>


{% endblock %}