{% extends 'Common/base.html.twig' %}


{% block content %}

    <div class="home_admin">

        <div class="header-common">
            <h1>Créer / Modifier un moyen de paiement</h1>
            <a href="{{ path('admin_payments_new') }}" class="btn btn-primary">Ajouter un moyen de paiement</a>
        </div>

        <table class="table text-center">
            <thead>
            <tr>
                <th>#</th>
                <th>Moyen de Paiement</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.type }}</td>
                        <td>
                            <a class="btn btn-info" href="{{ path('admin_payments_update', {'id' : payment.id}) }}"><i class="fas fa-pen-fancy"></i></a>
                            <a class="delete btn btn-danger " href="{{ path('admin_payments_delete', {'id' : payment.id}) }}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>


{% endblock %}