{% extends 'Common/base.html.twig' %}

{% block content %}

    <div class="new_update_admin">

        <div class="header-new-update">
            <h1>Créer un utilisateur</h1>
            <a href="{{ path('admin_users') }}" class="btn btn-danger">Retour</a>
        </div>


        {{ form_start(form) }}

            <div class="content">
                {{form_label(form.firstname)}}
                {{form_widget(form.firstname, {'attr' : {'class' : 'form-control'}})}}
            </div>

            <div class="content">
                {{form_label(form.name)}}
                {{form_widget(form.name, {'attr' : {'class' : 'form-control'}})}}
            </div>

            <div class="content">
                {{form_label(form.email)}}
                {{form_widget(form.email, {'attr' : {'class' : 'form-control'}})}}
            </div>
                        
            <div class="content">
                {{form_label(form.address)}}
                {{form_widget(form.address, {'attr' : {'class' : 'form-control'}})}}
            </div>

            <div class="content">
                {{form_label(form.additionalAddress)}}
                {{form_widget(form.additionalAddress, {'attr' : {'class' : 'form-control'}})}}
            </div>

            <div class="content">
                {{form_label(form.streetNumber)}}
                {{form_widget(form.streetNumber, {'attr' : {'class' : 'form-control'}})}}
            </div>
            
            <div class="content">
                {{form_label(form.zipCode)}}
                {{form_widget(form.zipCode, {'attr' : {'class' : 'form-control'}})}}
            </div>

            <div class="content">
                {{form_label(form.country)}}
                {{form_widget(form.country, {'attr' : {'class' : 'form-control'}})}}
            </div>

            <div class="content">
                {{form_label(form.restriction)}}
                {{form_widget(form.restriction, {'attr' : {'class' : 'form-check'}})}}
            </div>
            {#
            <div class="content">
                {{form_label(form.paymentMethods)}}
                {{form_widget(form.paymentMethods, {'attr' : {'class' : 'form-control'}})}}
            </div>
            #}
            <button type="submit" class="btn btn-success">Valider</button>

        {{ form_end(form) }}        

    </div>


{% endblock %}