{% extends 'Common/base.html.twig' %}

{% block stylesheets %}

  {{ parent() }}

   <link rel="stylesheet" type="text/css" href="{{ asset('CSS/users/home_users.css') }}">

{% endblock %}

{% block content %}

    <div class="home_admin">

        <div class="header-common">
            <h1>Gestion des utilisateurs</h1>
            <a href="{{ path('admin_users_new') }}" class="btn btn-primary">Créer un utilisateur</a>
        </div>

        <table class="table text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Prénom - Nom</th>
                    <th>Email</th>
                    <th>Restriction ?</th>
                    <th>Rôle(s)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }} {{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.restriction }}</td>
                        <td>
                            {% for role in user.roles %}
                               {{role}}
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-info" href="{{ path('admin_users_update', {id: user.id}) }}"><i class="fas fa-pen-fancy"></i></a>
                            <a class="delete btn btn-danger " href="{{ path('admin_users_delete', {id: user.id}) }}"><i class="fas fa-trash"></i></a>
                            <a href="{{ path('admin_take_order', {id: user.id}) }}">Passer une commande</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>


{% endblock %}